$colorMain: #fff;
$colorMs: #10cab7;
$alpha: 0.4;
$color: #00000049;

.contaniar{
    width: 100%;
    min-height: 500px;
    background-color: $colorMain;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px,1fr));
    gap: 40px;
    align-items: center;
    justify-content: center;
    
    padding: 15px;
    
    .one{
        opacity: 0;
        transform: translateX(-30px);
        transition: .5s;
    }
    .two{
        opacity: 0;
        transform: translateY(30px);
        transition: .5s;
    }
    .thre{
        opacity: 0;
        transform: translateX(12px);
        transition: .5s;
    }

    .icon-silde{
        height: 300px;
        text-align: center;
        box-shadow: 0 0 20px 1px $color;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;

        i{
            color: $colorMs;
            font-size: 3em;
            transform: translateY(-20px);
        }
        h2{
            font-size: 1.3em;
            font-weight: 800;
            margin: 10px 0;
        }
        p{
            font-size: 1em;
            line-height: 1.8;
        }
    }
}

